.bottom {
   border: 1px solid black;
   padding: 5px;
   height: 560px;
   display: flex;
   flex-direction: column;
}

.bottom_top {
   border: 1px solid black;
   margin-bottom: 5px;
   height: 150px;
   padding: 10px;
}

.bottom_mid {
   border: 1px solid black;
   margin-bottom: 5px;
   height: 295px;
}

.bottom_bot {
   border: 1px solid black;
   height: 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bottom_btn {
   height: 50px;
   width: 150px;
   font-size: 24px;
}
